In [1]:
import pandas as pd

In [24]:
file_url = "https://bit.ly/ds01-weight-history"

data = pd.read_csv(file_url,index_col ="회차")
data

     이름         측정일   몸무게  단위   담당   지점
회차
1   강성희  2019-01-01  76.4  kg  김지수   강남
2   강성희  2019-01-02  75.7  kg  김지수   강남
3   강성희  2019-01-03  76.0  kg  김지수   강남
4   강성희  2019-01-04   NaN  kg  최재우  여의도
5   강성희  2019-01-05  76.2  kg  김지수  강남구
6   강성희  2019-01-06  75.7  kg  최재우  여의도
7   강성희  2019-01-07   NaN  kg  최재우  여의도
8   강성희  2019-01-08   NaN  kg  김민철  여의도
9   강성희  2019-01-09  75.0  kg  김민철  여의도

In [16]:
data[["지점"]].describe()

         지점
count     9
unique    3
top     여의도
freq      5

In [25]:
data["지점"]= data["지점"].replace("강남구","강남")
data

     이름         측정일   몸무게  단위   담당   지점
회차
1   강성희  2019-01-01  76.4  kg  김지수   강남
2   강성희  2019-01-02  75.7  kg  김지수   강남
3   강성희  2019-01-03  76.0  kg  김지수   강남
4   강성희  2019-01-04   NaN  kg  최재우  여의도
5   강성희  2019-01-05  76.2  kg  김지수   강남
6   강성희  2019-01-06  75.7  kg  최재우  여의도
7   강성희  2019-01-07   NaN  kg  최재우  여의도
8   강성희  2019-01-08   NaN  kg  김민철  여의도
9   강성희  2019-01-09  75.0  kg  김민철  여의도

In [28]:
#NaN, null
data["몸무게"] = data["몸무게"].fillna(75.8)
data

     이름         측정일   몸무게  단위   담당   지점
회차
1   강성희  2019-01-01  76.4  kg  김지수   강남
2   강성희  2019-01-02  75.7  kg  김지수   강남
3   강성희  2019-01-03  76.0  kg  김지수   강남
4   강성희  2019-01-04  75.8  kg  최재우  여의도
5   강성희  2019-01-05  76.2  kg  김지수   강남
6   강성희  2019-01-06  75.7  kg  최재우  여의도
7   강성희  2019-01-07  75.8  kg  최재우  여의도
8   강성희  2019-01-08  75.8  kg  김민철  여의도
9   강성희  2019-01-09  75.0  kg  김민철  여의도

In [43]:
data['몸무게(prev)'] = data["몸무게"].shift(+1)
data['몸무게(next)'] = data["몸무게"].shift(-1)
data

     이름         측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희  2019-01-01  76.4  kg  김지수   강남        NaN       75.7
2   강성희  2019-01-02  75.7  kg  김지수   강남       76.4       76.0
3   강성희  2019-01-03  76.0  kg  김지수   강남       75.7       75.8
4   강성희  2019-01-04  75.8  kg  최재우  여의도       76.0       76.2
5   강성희  2019-01-05  76.2  kg  김지수   강남       75.8       75.7
6   강성희  2019-01-06  75.7  kg  최재우  여의도       76.2       75.8
7   강성희  2019-01-07  75.8  kg  최재우  여의도       75.7       75.8
8   강성희  2019-01-08  75.8  kg  김민철  여의도       75.8       75.0
9   강성희  2019-01-09  75.0  kg  김민철  여의도       75.8        NaN

In [49]:
data["측정일"] = pd.to_datetime(data["측정일"])
data

data['측정일'].dt.year

회차
1    2019
2    2019
3    2019
4    2019
5    2019
6    2019
7    2019
8    2019
9    2019
Name: 측정일, dtype: int64

In [50]:
data['측정일'].dt.month

회차
1    1
2    1
3    1
4    1
5    1
6    1
7    1
8    1
9    1
Name: 측정일, dtype: int64

## 행렬검색

In [51]:
data

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       75.8
4   강성희 2019-01-04  75.8  kg  최재우  여의도       76.0       76.2
5   강성희 2019-01-05  76.2  kg  김지수   강남       75.8       75.7
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       75.8
7   강성희 2019-01-07  75.8  kg  최재우  여의도       75.7       75.8
8   강성희 2019-01-08  75.8  kg  김민철  여의도       75.8       75.0
9   강성희 2019-01-09  75.0  kg  김민철  여의도       75.8        NaN

In [52]:
data["몸무게"]

회차
1    76.4
2    75.7
3    76.0
4    75.8
5    76.2
6    75.7
7    75.8
8    75.8
9    75.0
Name: 몸무게, dtype: float64

In [54]:
data[["이름","측정일","몸무게"]]

     이름        측정일   몸무게
회차
1   강성희 2019-01-01  76.4
2   강성희 2019-01-02  75.7
3   강성희 2019-01-03  76.0
4   강성희 2019-01-04  75.8
5   강성희 2019-01-05  76.2
6   강성희 2019-01-06  75.7
7   강성희 2019-01-07  75.8
8   강성희 2019-01-08  75.8
9   강성희 2019-01-09  75.0

In [55]:
columns = ["이름","측정일","몸무게"]
data[columns]

     이름        측정일   몸무게
회차
1   강성희 2019-01-01  76.4
2   강성희 2019-01-02  75.7
3   강성희 2019-01-03  76.0
4   강성희 2019-01-04  75.8
5   강성희 2019-01-05  76.2
6   강성희 2019-01-06  75.7
7   강성희 2019-01-07  75.8
8   강성희 2019-01-08  75.8
9   강성희 2019-01-09  75.0

In [58]:
data.index

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64', name='회차')

In [59]:
data

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       75.8
4   강성희 2019-01-04  75.8  kg  최재우  여의도       76.0       76.2
5   강성희 2019-01-05  76.2  kg  김지수   강남       75.8       75.7
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       75.8
7   강성희 2019-01-07  75.8  kg  최재우  여의도       75.7       75.8
8   강성희 2019-01-08  75.8  kg  김민철  여의도       75.8       75.0
9   강성희 2019-01-09  75.0  kg  김민철  여의도       75.8        NaN

In [62]:
# loc = locate
data.loc[1]

이름                           강성희
측정일          2019-01-01 00:00:00
몸무게                         76.4
단위                            kg
담당                           김지수
지점                            강남
몸무게(prev)                    NaN
몸무게(next)                   75.7
Name: 1, dtype: object

In [63]:
data.loc[[1,3,7]]

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       75.8
7   강성희 2019-01-07  75.8  kg  최재우  여의도       75.7       75.8

In [64]:
session_ids = [1,3,7]
data.loc[session_ids]


# 뭐든 여러개를 가져ㅑ오곻싶으ㅓ면 list로 가져와라

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       75.8
7   강성희 2019-01-07  75.8  kg  최재우  여의도       75.7       75.8

In [70]:
data.loc[1:7]

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       75.8
4   강성희 2019-01-04  75.8  kg  최재우  여의도       76.0       76.2
5   강성희 2019-01-05  76.2  kg  김지수   강남       75.8       75.7
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       75.8
7   강성희 2019-01-07  75.8  kg  최재우  여의도       75.7       75.8

In [76]:
%timeit data.loc[1]["이름"]#  권장하지 않음 <실제로는 두번실행>

136 µs ± 1.18 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [77]:
%timeit data.loc[1,"이름"] # 권장!

5.39 µs ± 29.6 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [78]:
data.loc[[1,3,7],["이름","측정일","몸무게"]]

     이름        측정일   몸무게
회차
1   강성희 2019-01-01  76.4
3   강성희 2019-01-03  76.0
7   강성희 2019-01-07  75.8

In [79]:
columns = ["이름","측정일","몸무게"]
session_ids = [1,3,7]
data.loc[session_ids,columns]

     이름        측정일   몸무게
회차
1   강성희 2019-01-01  76.4
3   강성희 2019-01-03  76.0
7   강성희 2019-01-07  75.8

In [80]:
data.loc[1:7,columns]

     이름        측정일   몸무게
회차
1   강성희 2019-01-01  76.4
2   강성희 2019-01-02  75.7
3   강성희 2019-01-03  76.0
4   강성희 2019-01-04  75.8
5   강성희 2019-01-05  76.2
6   강성희 2019-01-06  75.7
7   강성희 2019-01-07  75.8

In [81]:
data.loc[1,"이름"]

'강성희'

In [84]:
data.at[1,"이름"] # 빠르지만 하나만 가져올수있음

'강성희'

In [88]:
data.loc[[1,3,7],"이름"]

회차
1    강성희
3    강성희
7    강성희
Name: 이름, dtype: object

## 색인

In [90]:
data[data["담당"] =="김지수"]

     이름        측정일   몸무게  단위   담당  지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수  강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수  강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수  강남       75.7       75.8
5   강성희 2019-01-05  76.2  kg  김지수  강남       75.8       75.7

In [92]:
data[data["몸무게"]> 75]

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       75.8
4   강성희 2019-01-04  75.8  kg  최재우  여의도       76.0       76.2
5   강성희 2019-01-05  76.2  kg  김지수   강남       75.8       75.7
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       75.8
7   강성희 2019-01-07  75.8  kg  최재우  여의도       75.7       75.8
8   강성희 2019-01-08  75.8  kg  김민철  여의도       75.8       75.0

In [97]:
data[data["단위"] == "kg"]

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       75.8
4   강성희 2019-01-04  75.8  kg  최재우  여의도       76.0       76.2
5   강성희 2019-01-05  76.2  kg  김지수   강남       75.8       75.7
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       75.8
7   강성희 2019-01-07  75.8  kg  최재우  여의도       75.7       75.8
8   강성희 2019-01-08  75.8  kg  김민철  여의도       75.8       75.0
9   강성희 2019-01-09  75.0  kg  김민철  여의도       75.8        NaN

In [101]:
people = ['최재우','김민철']

data[data["담당"].isin(people)]

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
4   강성희 2019-01-04  75.8  kg  최재우  여의도       76.0       76.2
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       75.8
7   강성희 2019-01-07  75.8  kg  최재우  여의도       75.7       75.8
8   강성희 2019-01-08  75.8  kg  김민철  여의도       75.8       75.0
9   강성희 2019-01-09  75.0  kg  김민철  여의도       75.8        NaN

In [103]:
data[data["담당"].str.contains("김")]

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       75.8
5   강성희 2019-01-05  76.2  kg  김지수   강남       75.8       75.7
8   강성희 2019-01-08  75.8  kg  김민철  여의도       75.8       75.0
9   강성희 2019-01-09  75.0  kg  김민철  여의도       75.8        NaN

In [106]:
data[data["몸무게(prev)"].isnull()]

     이름        측정일   몸무게  단위   담당  지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수  강남        NaN       75.7

In [111]:
a = data["몸무게"] >75.5
b =data["담당"] == "김지수"
data[a & b]


data[a|b]

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       75.8
4   강성희 2019-01-04  75.8  kg  최재우  여의도       76.0       76.2
5   강성희 2019-01-05  76.2  kg  김지수   강남       75.8       75.7
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       75.8
7   강성희 2019-01-07  75.8  kg  최재우  여의도       75.7       75.8
8   강성희 2019-01-08  75.8  kg  김민철  여의도       75.8       75.0

In [114]:
c = ["이름","측정일","몸무게"]
data.loc[data["담당"] == "김지수",c]

     이름        측정일   몸무게
회차
1   강성희 2019-01-01  76.4
2   강성희 2019-01-02  75.7
3   강성희 2019-01-03  76.0
5   강성희 2019-01-05  76.2

# pivot table

In [120]:
pd.pivot_table(data, index= ["지점","담당"], values ="몸무게",aggfunc=["sum","mean"])
# aggfunc="sum"

           sum       mean
           몸무게        몸무게
지점  담당
강남  김지수  304.3  76.075000
여의도 김민철  150.8  75.400000
    최재우  227.3  75.766667

## 컴첨 추가 & 수정

In [126]:
data["지역"]= "부산"
data

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)  지역
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7  부산
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0  부산
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       75.8  부산
4   강성희 2019-01-04  75.8  kg  최재우  여의도       76.0       76.2  부산
5   강성희 2019-01-05  76.2  kg  김지수   강남       75.8       75.7  부산
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       75.8  부산
7   강성희 2019-01-07  75.8  kg  최재우  여의도       75.7       75.8  부산
8   강성희 2019-01-08  75.8  kg  김민철  여의도       75.8       75.0  부산
9   강성희 2019-01-09  75.0  kg  김민철  여의도       75.8        NaN  부산

In [129]:
data["결제"] = [True,True,True,True,False,True,False,True,True]
data

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)  지역     결제
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7  부산   True
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0  부산   True
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       75.8  부산   True
4   강성희 2019-01-04  75.8  kg  최재우  여의도       76.0       76.2  부산   True
5   강성희 2019-01-05  76.2  kg  김지수   강남       75.8       75.7  부산  False
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       75.8  부산   True
7   강성희 2019-01-07  75.8  kg  최재우  여의도       75.7       75.8  부산  False
8   강성희 2019-01-08  75.8  kg  김민철  여의도       75.8       75.0  부산   True
9   강성희 2019-01-09  75.0  kg  김민철  여의도       75.8        NaN  부산   True

In [133]:
data["몸무게(gram)"] = data["몸무게"] *1000
data

,이름,측정일,몸무게,단위,담당,지점,몸무게(prev),몸무게(next),지역,결제,몸무게(gram)
회차,,,,,,,,,,,
1,강성희,2019-01-01,76.4,kg,김지수,강남,NaN,75.7,부산,True,76400.0
2,강성희,2019-01-02,75.7,kg,김지수,강남,76.4,76.0,부산,True,75700.0
3,강성희,2019-01-03,76.0,kg,김지수,강남,75.7,75.8,부산,True,76000.0
4,강성희,2019-01-04,75.8,kg,최재우,여의도,76.0,76.2,부산,True,75800.0
5,강성희,2019-01-05,76.2,kg,김지수,강남,75.8,75.7,부산,False,76200.0
6,강성희,2019-01-06,75.7,kg,최재우,여의도,76.2,75.8,부산,True,75700.0
7,강성희,2019-01-07,75.8,kg,최재우,여의도,75.7,75.8,부산,False,75800.0
8,강성희,2019-01-08,75.8,kg,김민철,여의도,75.8,75.0,부산,True,75800.0
9,강성희,2019-01-09,75.0,kg,김민철,여의도,75.8,NaN,부산,True,75000.0

In [135]:
data["과체중"] = data["몸무게"] > 75.8
data

,이름,측정일,몸무게,단위,담당,지점,몸무게(prev),몸무게(next),지역,결제,몸무게(gram),과체중
회차,,,,,,,,,,,,
1,강성희,2019-01-01,76.4,kg,김지수,강남,NaN,75.7,부산,True,76400.0,True
2,강성희,2019-01-02,75.7,kg,김지수,강남,76.4,76.0,부산,True,75700.0,False
3,강성희,2019-01-03,76.0,kg,김지수,강남,75.7,75.8,부산,True,76000.0,True
4,강성희,2019-01-04,75.8,kg,최재우,여의도,76.0,76.2,부산,True,75800.0,False
5,강성희,2019-01-05,76.2,kg,김지수,강남,75.8,75.7,부산,False,76200.0,True
6,강성희,2019-01-06,75.7,kg,최재우,여의도,76.2,75.8,부산,True,75700.0,False
7,강성희,2019-01-07,75.8,kg,최재우,여의도,75.7,75.8,부산,False,75800.0,False
8,강성희,2019-01-08,75.8,kg,김민철,여의도,75.8,75.0,부산,True,75800.0,False
9,강성희,2019-01-09,75.0,kg,김민철,여의도,75.8,NaN,부산,True,75000.0,False

In [136]:
data.loc[data["몸무게"]>75.8,"상탱"] = "과체중"
data.loc[data["몸무게"]<=75.8,"상탱"] = "정상"

data

,이름,측정일,몸무게,단위,담당,지점,몸무게(prev),몸무게(next),지역,결제,몸무게(gram),과체중,상탱
회차,,,,,,,,,,,,,
1,강성희,2019-01-01,76.4,kg,김지수,강남,NaN,75.7,부산,True,76400.0,True,과체중
2,강성희,2019-01-02,75.7,kg,김지수,강남,76.4,76.0,부산,True,75700.0,False,정상
3,강성희,2019-01-03,76.0,kg,김지수,강남,75.7,75.8,부산,True,76000.0,True,과체중
4,강성희,2019-01-04,75.8,kg,최재우,여의도,76.0,76.2,부산,True,75800.0,False,정상
5,강성희,2019-01-05,76.2,kg,김지수,강남,75.8,75.7,부산,False,76200.0,True,과체중
6,강성희,2019-01-06,75.7,kg,최재우,여의도,76.2,75.8,부산,True,75700.0,False,정상
7,강성희,2019-01-07,75.8,kg,최재우,여의도,75.7,75.8,부산,False,75800.0,False,정상
8,강성희,2019-01-08,75.8,kg,김민철,여의도,75.8,75.0,부산,True,75800.0,False,정상
9,강성희,2019-01-09,75.0,kg,김민철,여의도,75.8,NaN,부산,True,75000.0,False,정상

## 컬럼 삭제

In [138]:
data=  data.drop("몸무게(prev)", axis ="columns")
data

,이름,측정일,몸무게,단위,담당,지점,몸무게(next),지역,결제,몸무게(gram),과체중,상탱
회차,,,,,,,,,,,,
1,강성희,2019-01-01,76.4,kg,김지수,강남,75.7,부산,True,76400.0,True,과체중
2,강성희,2019-01-02,75.7,kg,김지수,강남,76.0,부산,True,75700.0,False,정상
3,강성희,2019-01-03,76.0,kg,김지수,강남,75.8,부산,True,76000.0,True,과체중
4,강성희,2019-01-04,75.8,kg,최재우,여의도,76.2,부산,True,75800.0,False,정상
5,강성희,2019-01-05,76.2,kg,김지수,강남,75.7,부산,False,76200.0,True,과체중
6,강성희,2019-01-06,75.7,kg,최재우,여의도,75.8,부산,True,75700.0,False,정상
7,강성희,2019-01-07,75.8,kg,최재우,여의도,75.8,부산,False,75800.0,False,정상
8,강성희,2019-01-08,75.8,kg,김민철,여의도,75.0,부산,True,75800.0,False,정상
9,강성희,2019-01-09,75.0,kg,김민철,여의도,NaN,부산,True,75000.0,False,정상

In [139]:
data = data.drop(["몸무게(next)","몸무게(gram)"],axis= "columns")
data

     이름        측정일   몸무게  단위   담당   지점  지역     결제    과체중   상탱
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남  부산   True   True  과체중
2   강성희 2019-01-02  75.7  kg  김지수   강남  부산   True  False   정상
3   강성희 2019-01-03  76.0  kg  김지수   강남  부산   True   True  과체중
4   강성희 2019-01-04  75.8  kg  최재우  여의도  부산   True  False   정상
5   강성희 2019-01-05  76.2  kg  김지수   강남  부산  False   True  과체중
6   강성희 2019-01-06  75.7  kg  최재우  여의도  부산   True  False   정상
7   강성희 2019-01-07  75.8  kg  최재우  여의도  부산  False  False   정상
8   강성희 2019-01-08  75.8  kg  김민철  여의도  부산   True  False   정상
9   강성희 2019-01-09  75.0  kg  김민철  여의도  부산   True  False   정상